@import "./../../theme/variables";
@import "./../../theme/mixins";

.container {
	margin: 0 auto;
	width: 100%;
}

.cards-container {
	overflow: hidden;
	display: grid;
	grid-template-columns: 1fr;
	justify-items: center;
	column-gap: 6rem;
	row-gap: 5rem;
	width: 100%;
	padding: auto;
	list-style: none;
	background-color: $white;

	@include screen($screnn-lg) {
		grid-template-columns: repeat(2, 1fr);
	}
	@include screen($screnn-xl) {
		border-radius: 2.5rem;
		background-color: $lightGrey;
		padding: 5.6rem 6.5%;
	}
	@include screen($screnn-xxl) {
		grid-template-columns: repeat(3, 1fr);
	}
}
