$primary: #ff6060;
// $primaryText: rgba(255, 96, 96, 1);
$black: #000;
$white: #fff;
$lightGrey: #f3f3f3;
$lightGreyAccent: #bababa;
$starGray: #e3e3e3;

$typo-xxs: 1.2rem;
$typo-xs: 1.8rem;
$typo-sm: 2.4rem;
$typo-xl: 3.8rem;

$screnn-sm: 375px;
$screnn-md: 480px;
$screnn-lg: 768px;
$screnn-xl: 1080px;
$screnn-xxl: 1440px;
